# General
.vscode/
*-deprecated*
*-deprecated*/
node_modules/
*/node_modules/
file-structure.txt

# Database
Database/*.env

# Frontend
Frontend/logs
Frontend/*.log
Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/yarn-error.log*
Frontend/pnpm-debug.log*
Frontend/lerna-debug.log*
Frontend/node_modules
Frontend/dist
Frontend/dist-ssr
Frontend/*.local
Frontend/.env
Frontend/.vscode/*
Frontend/!.vscode/extensions.json
Frontend/.idea
Frontend/.DS_Store
Frontend/*.suo
Frontend/*.ntvs*
Frontend/*.njsproj
Frontend/*.sln
Frontend/*.sw?

# Node-backend
Backend/node-backend/node_modules/
Backend/node-backend/.env
Backend/node-backend/npm-debug.log*
Backend/node-backend/yarn-debug.log*
Backend/node-backend/yarn-error.log*
Backend/node-backend/pnpm-debug.log*

# Spring-backend
Backend/spring-backend/HELP.md
Backend/spring-backend/target/
Backend/spring-backend/!.mvn/wrapper/maven-wrapper.jar
Backend/spring-backend/!**/src/main/**/target/
Backend/spring-backend/!**/src/test/**/target/
Backend/spring-backend/.apt_generated
Backend/spring-backend/.classpath
Backend/spring-backend/.factorypath
Backend/spring-backend/.project
Backend/spring-backend/.settings
Backend/spring-backend/.springBeans
Backend/spring-backend/.sts4-cache
Backend/spring-backend/.idea
Backend/spring-backend/*.iws
Backend/spring-backend/*.iml
Backend/spring-backend/*.ipr
Backend/spring-backend/nbproject/private/
Backend/spring-backend/nbbuild/
Backend/spring-backend/dist/
Backend/spring-backend/nbdist/
Backend/spring-backend/.nb-gradle/
Backend/spring-backend/build/
Backend/spring-backend/!**/src/main/**/build/
Backend/spring-backend/!**/src/test/**/build/
Backend/spring-backend/.vscode/
Backend/spring-backend/.DS_Store
Backend/spring-backend/.env
Backend/spring-backend/application-local.properties

# dotnet-backend
Backend/dotnet-backend/bin/
Backend/dotnet-backend/obj/
Backend/dotnet-backend/.env
Backend/dotnet-backend/appsettings.json
Backend/dotnet-backend/.vscode/
Backend/dotnet-backend/.idea/
Backend/dotnet-backend/*.suo
Backend/dotnet-backend/*.ntvs*
Backend/dotnet-backend/*.njsproj
Backend/dotnet-backend/*.sln
Backend/dotnet-backend/*.sw?
Backend/dotnet-backend/.DS_Store
