# Copy this file to appsettings.json
# Place your default database connection string in the placeholder
# Remove these comments during production

{
  "Cors": {
    "AllowedOrigins": ["http://localhost:3000", "http://localhost:5173"]
  },
  "ConnectionStrings": {
    "DefaultConnection": "<INSERT_YOUR_CONNECTION_STRING>"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
